
body{
    font-family: 'Montserrat';
    margin: 0;
}

.content{
    max-width: 1440px;
    margin: 0 auto;
}

.main { 
    max-width: 1240px; 
    margin: 0 auto; 
    padding: 0 3em 1.5em; 
} 
    
.navigation ul{
    border: 1px red;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.item:hover{
    color: #febf4c;
}

.logo{
    padding: 20px;
    align-self: flex-start;
    flex: 5;
    margin-top: 15px;
   padding-bottom: 0;
}

#logo svg:hover{
    fill: red ;
}

.navigation .item{
    flex:2;
}

.heroImg{
    height: 395px;
    width: auto;
    padding: 10%;
}

.heroGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "heroLeft heroText"
    ;
}

.heroLeft{
    grid-area: heroLeft;
}

.heroText{
    grid-area: heroText;
    color: #fbcccc;
}

.heroText h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 107.9%;
}

.heroText p{
    font-style: normal;
    font-weight: 250;
    font-size: 45px;
    line-height: 107.9%;
}

.backgrounds.herocolor{
    background-image: url(https://images.unsplash.com/photo-1477093782505-e10aaeb27c6d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.aboutMe{
    display: grid;
    grid-template-columns:1fr  1fr 1fr 1fr;
    grid-template-areas: 
    "leftContent leftContent  rightContnet rightContent"
    ;
    padding: 5%;
    background-color: #36113f;
}

.backgrounds.about{
    background-color: #36113f;
}

.leftContent{
    grid-area: leftContent;
}

.rightContent{
    grid-area: rightContent;
    
}
.aboutMe h6{
    color: #ffffff;
}

.aboutMe h1{
    color: white;
    margin: 0;
}

.aboutMe p{
    color: white;
    width: 500px;
}
.aboutMeMain.leftContent p{
    margin-bottom: 5%;
}

.getInTouch{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "touchTop touchTop"
    "inTouchLeft inTouchRight"
    ;
    padding: 5%;
}

.touchTop{
    grid-area: touchTop;
}

.inTouchLeft{
    grid-area: inTouchLeft;
}

.inTouchRight{
    grid-area:inTouchRight;
}

.buttonLayout{
    padding:0px; 
    max-width: 300px;
}

.inTouchLeft p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 107.9%;
    width: 295px;
}

.button2{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:600;
    letter-spacing:0.235em;
    text-transform: uppercase;
    background-color: #36103f;
    padding: 10px;
    min-width: 294px;
    justify-content: center;
    min-height: 39px;
    top:57px;
    margin-bottom: 3%;
    border-radius: 5px;
    border:none;
}

.button2:hover{
    background-color: #febf4c;
    color: #36103f;
}

.button1{
    color: #36113f;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:600;
    letter-spacing:0.235em;
    text-transform: uppercase;
    background-color: #febf4c;
    padding: 10px;
    min-width: 294px;
    justify-content: center;
    min-height: 39px;
    top:57px;
    margin-bottom: 3%;
    border-radius: 5px;
    border:none;
}

.button1:hover{
    background-color: #fbcccc;
    color: #36103f;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 107.9%;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.9%;
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.9%;
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 107.9%;
}

h6{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 107.9%;
}

.aboutMeSecondary.rightContent h6{
    margin-top: 25px;
    margin-bottom: 5px;
}
.aboutMeSecondary.rightContent p{
    margin-top: 10px;
    margin-bottom:10px;
}

.inTouchLeft p{
    margin-top: 1%;
}